.container{
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin: 30px 330px;
}
.header{
    display: flex;
    align-items: center;
    gap: 22px;
}
#dark-mode{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(120, 117, 117);
}
#light-mode{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffff;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
